div .card {
    border-radius: .3rem .7rem;
    text-align: center;
    background-color: var(--prim-clr-med);
    border: 1px solid var(--sec-clr-light);
    color: var(--sec-clr-light);
    user-select: none;
}

.card h2,
.card p {
    font-size: 1.8rem;
    color: var(--prim-clr-dark);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card h2 {
    padding: .15rem;
}

.card p {
    padding: 4px;
}