.page {

    margin-left: 0.9rem;
    margin-top: 0.7rem;
}

.page h2 {
    font-size: large;
}

.page p {
    margin-top: .8rem;
    margin-left: 0.9rem;
    font-size: medium;
    text-indent: 2rem;
}