@import './Home.module.scss';

.collapse {
    min-height: 1em;
    font-size: 1em;
    user-select: none;
}

.tab {
    position: absolute;
    display: table;
    bottom: 0vh;
    width: 100vw;
    height: 30vh;
    background-color: khaki;
}

.tabItem {
    display: inline;
}